# Local Dependancies
node_modules

# Log Files
*.log

# File System
.DS_Store
server/public/assets/scripts/homeController.js
server/public/assets/scripts/mapController.js
server/public/assets/scripts/northApp.module.js
