<md-dialog>
  <md-dialog-content>
    <section md-layout="column">

      <md-input-container>
        <label for="account_name">Account Name</label>
        <input type="text" ng-model="eac.selectedAccount.username" />
      </md-input-container>

      <md-input-container>
        <label for="account_email">Email Address</label>
        <input type="text" ng-model="eac.selectedAccount.email_address" />
      </md-input-container>

      <md-input-container>
        <label for="account_name">Contact Name</label>
        <input type="text" ng-model="eac.selectedAccount.contact_name" />
      </md-input-container>

      <md-checkbox name="account_admin" ng-model="eac.selectedAccount.is_admin" aria-label="is_admin">Administrator</md-checkbox>

      <md-button ng-click="eac.saveEditAccount(account)">Save</md-button>
      <md-button ng-click="eac.cancelEditAccount()">Cancel</md-button>
    </section>
  </md-dialog-content>
</md-dialog>
