<!-- Edit Modals -->
<md-dialog>
  <md-dialog-content class="md-dialog-content">
    <section layout="column">

      <form name="editResourceForm">
        <md-input-container>
          <label for="pending_name">Name</label>
          <input type="text" name="pending_name" ng-model="erc.userResource.name" required />
          <div ng-messages="editResourceForm.pending_name.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label for="pending_location">Location</label>
          <input type="text" name="pending_location" ng-model="erc.userResource.location" required />
          <div ng-messages="editResourceForm.pending_location.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label for="pending_type">Type</label>
          <md-select name="pending_type" ng-model="erc.userResource.resource_type" required>
            <md-option value="Community Garden">Community Garden</md-option>
            <md-option value="Culinary Arts">Culinary Arts</md-option>
            <md-option value="Food Hub">Food Hub</md-option>
            <md-option value="Food Distribution">Food Distribution</md-option>
          </md-select>
          <div ng-messages="editResourceForm.pending_type.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label for="pending_description">Description</label>
          <input type="text" name="pending_description" ng-model="erc.userResource.description" />
        </md-input-container>

        <md-input-container>
          <label for="pending_website">Website</label>
          <input type="text" name="pending_website" ng-model="erc.userResource.website" />
        </md-input-container>

        <md-input-container>
          <label for="twitter">Twitter</label>
          <input placeholder="Add link ex. https://twitter.com/projectsweetiep" type="text" name="twitter" ng-model="epc.selectedResource.twitter"  />
        </md-input-container>

        <md-input-container>
          <label for="facebook">Facebook</label>
          <input placeholder="Add link ex. https://www.facebook.com/projectsweetiepie/" type="text" name="facebook" ng-model="epc.selectedResource.facebook"  />
        </md-input-container>

        <md-input-container>
          <label for="instagram">Instagram</label>
          <input placeholder="Add link ex. https://www.instagram.com/nazmpls/" type="text" name="instagram" ng-model="epc.selectedResource.instagram"  />
        </md-input-container>

        <md-input-container>
          <label for="snapchat">Snapchat</label>
          <input placeholder="Add link ex. https://www.snapchat.com/add/JXTA_ARTS" type="text" name="snapchat" ng-model="epc.selectedResource.snapchat"  />
        </md-input-container>

        <md-input-container>
          <label for="pending_leadership">Leadership</label>
          <input type="text" name="pending_leadership" ng-model="erc.userResource.leadership" />
        </md-input-container>

        <md-input-container>
          <label for="pending_phone">Public Phone</label>
          <input type="phone" name="pending_phone" ng-model="erc.userResource.public_phone" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/"/>
          <div ng-messages="editResourceForm.pending_phone.$error">
            <div ng-message="pattern">Please enter a valid 10-digit phone number.</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label for="pending_email">Public Email</label>
          <input type="email" name="pending_email" ng-model="erc.userResource.public_email" />
          <div ng-messages="editResourceForm.pending_email.$error">
            <div ng-message="email">Please enter a valid email address.</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label for="pending_hours">Hours</label>
          <input type="text" name="pending_hours" ng-model="erc.userResource.hours" />
        </md-input-container>

        <!-- <md-input-container>
          <label for="pending_lat">Coordinates - Latitude</label>
          <input type="text" name="pending_lat" ng-model="erc.userResource.latitude" />
        </md-input-container>

        <md-input-container>
          <label for="pending_lng">Coordinates - Longitude</label>
          <input type="text" name="pending_lng" ng-model="erc.userResource.longitude" />
        </md-input-container> -->

        <md-input-container>
          <label for="pending_audio">Audio</label>
          <input type="text" name="pending_audio" ng-model="erc.userResource.audio" />
        </md-input-container>

        <md-input-container>
          <label for="pending_images">Images</label>
          <input type="text" name="pending_images" ng-model="erc.userResource.images" />
        </md-input-container>

        <md-input-container>
          <label for="pending_video">Video</label>
          <input type="text" name="pending_video" ng-model="erc.userResource.video" />
        </md-input-container>



        <md-button ng-disabled="editResourceForm.$invalid" ng-show="!erc.showConfirmRemove" ng-click="erc.saveEdit()">Save</md-button>
        <md-button ng-show="!erc.showConfirmRemove" ng-click="erc.cancelEditPending()">Cancel</md-button>
        <md-button ng-show="!erc.showConfirmRemove" ng-click="erc.confirmRemoveResource()">Remove</md-button>

        <!-- <section md-layout="row" class="two"> -->
          <p ng-show="erc.showConfirmRemove">Are you sure you want to remove this resource? This action cannot be undone.</p>
          <md-button flex ng-show="erc.showConfirmRemove" ng-click="erc.removeResource(erc.userResource)">Yes</md-button>
          <md-button flex ng-show="erc.showConfirmRemove" ng-click="erc.cancelRemoveResource()">No</md-button>
        <!-- </section> -->

      </form>

    </section>


  </md-dialog-content>
</md-dialog>
