<!-- Edit Modals -->
<md-dialog>
  <md-dialog-content class="md-dialog-content">
    <section layout="column">
      test:{{ac.selectedResource}}
      <md-input-container>
        <label for="pending_title">Title</label>
        <input type="text" name="pending_title" ng-model="ac.selectedResource.title" />
      </md-input-container>

      <md-input-container>
        <label for="pending_location">Location</label>
        <input type="text" name="pending_location" ng-model="ac.selectedResource.location" />
      </md-input-container>

      <md-input-container>
        <label for="pending_description">Description</label>
        <input type="text" name="pending_description" ng-model="ac.selectedResource.description" />
      </md-input-container>

      <md-input-container>
        <label for="pending_website">Website</label>
        <input type="text" name="pending_website" ng-model="ac.selectedResource.website" />
      </md-input-container>

      <md-input-container>
        <label for="pending_social_media">Social Media</label>
        <input type="text" name="pending_social_media" ng-model="ac.selectedResource.social_media" />
      </md-input-container>

      <md-input-container>
        <label for="pending_leadership">Leadership</label>
        <input type="text" name="pending_leadership" ng-model="ac.selectedResource.leadership" />
      </md-input-container>

      <md-input-container>
        <label for="pending_phone">Phone</label>
        <input type="text" name="pending_phone" ng-model="ac.selectedResource.private_phone" />
      </md-input-container>

      <md-input-container>
        <label for="pending_email">Email</label>
        <input type="text" name="pending_email" ng-model="ac.selectedResource.private_email" />
      </md-input-container>

      <md-input-container>
        <label for="pending_hours">Hours</label>
        <input type="text" name="pending_hours" ng-model="ac.selectedResource.hours" />
      </md-input-container>

      <md-input-container>
        <label for="pending_lat">Coordinates - Latitude</label>
        <input type="text" name="pending_lat" ng-model="ac.selectedResource.lat" />
      </md-input-container>

      <md-input-container>
        <label for="pending_lng">Coordinates - Longitude</label>
        <input type="text" name="pending_lng" ng-model="ac.selectedResource.lng" />
      </md-input-container>

      <md-input-container>
        <label for="pending_type">Type</label>
        <input type="text" name="pending_type" ng-model="ac.selectedResource.type" />
      </md-input-container>

      <md-input-container>
        <label for="pending_audio">Audio</label>
        <input type="text" name="pending_audio" ng-model="ac.selectedResource.audio" />
      </md-input-container>

      <md-input-container>
        <label for="pending_images">Images</label>
        <input type="text" name="pending_images" ng-model="ac.selectedResource.images" />
      </md-input-container>

      <md-input-container>
        <label for="pending_video">Video</label>
        <input type="text" name="pending_video" ng-model="ac.selectedResource.video" />
      </md-input-container>

      <md-button ng-click="ac.saveEditPending()">Save</md-button>
      <md-button ng-click="ac.cancelEditPending()">Cancel</md-button>
    </section>


  </md-dialog-content>
</md-dialog>
