<!DOCTYPE html>

<!-- this page is the HomeController as hc-->

<!-- ::::::::: START HOME PAGE ::::::::: -->
<div class="home">

<!-- ::::::::: full home header + nav ::::::::: -->
  <div class="home header-expanded" ng-show="hc.headerExpanded">

    <md-toolbar class="home header-condensed">
      <div class="md-toolbar-tools">
        <h1 class="headerTitle md-toolbar-tools md-flex">Nile of the North</h1>

        <span flex></span>

        <md-button href="/map"><i class="fa fa-map-o" aria-hidden="true"></i> Map</md-button>

        <md-button ng-hide="hc.user" ng-click="hc.loginShow()"><i class="fa fa-sign-in" aria-hidden="true"></i> Log In</md-button>

        <md-button ng-show="hc.user" ng-click="hc.routeUser()"><i class="fa fa-user" aria-hidden="true"></i> Account</md-button>

        <md-button ng-show="hc.user" href="/logout" target="_self"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</md-button>

        <md-button href="http://www.projectsweetiepie.org/blog" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> Blog</md-button>

        <!-- <md-button href="http://www.projectsweetiepie.org/" target="_blank">PSP <i class="fa fa-tree" aria-hidden="true"></i></md-button> -->
      </div>

      </md-toolbar>


    <!-- <h1 class="mainTitle">Nile of the North</h1> -->

    <div class="splashText">
        <h1>Welcome to Nile of the North</h1>

      <p >Nile of the North is a green vision of economic and ecological vitality. It has evolved from and been inspired by the diligent and collaborative hard work of a cohort of North-Minneapolis residents, concerned citizens interested in food justice, non-profits, social service agencies, and businesses intent on creating a social, sustainable healthy food system.
      </p>

      <p>As Northside Fresh Coalition, these champions advocate ongoing efforts to eradicate food insecurity by creating a shared vision for North-Minneapolis's food system and community. Improving our food system is key to overcoming economic, environmental and social barriers to health and revitalization of our community. Nile of the North is born of this collective effort.</p>

      <div class="splashTextCtr">
        <h3>These map stories are:</h3>
          <p>Images of a community</br>
          A resource guide for residents seeking access to healthy food<br />
          A network for food entrepreneurs, community food advocates to share ideas and resources<br />
          A place to market the availability of healthy food to the community<br />
        </p>

        <h3>“If you have a garden and a library, you have everything you need” <br />- Cicero</h3>

      </div>

    </div>

      <!-- <div class="home nav">
        <md-button class="md-raised" ng-show="hc.user" ng-click="hc.routeUser()"><i class="fa fa-user" aria-hidden="true"></i>Account</md-button>

        <md-button class="md-raised" ng-show="hc.user"><a href="/logout" target="_self"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a></md-button>
      </div> -->
    </div>

    <!-- ::::::::: condensed header + nav ::::::::: -->
    <!-- Will only show when you click login or register -->

    <md-toolbar class="home header-condensed" ng-show="hc.headerCondensed">
      <div class="md-toolbar-tools">
        <h1 class="headerTitle md-toolbar-tools md-flex">Nile of the North</h1>

        <md-button href="/map" aria-label="map"><i class="fa fa-map-o" aria-hidden="true"></i>Map</md-button>

        <md-button ng-click="hc.headerExpandedShow()" aria-label="home">
          <i class="fa fa-home" aria-hidden="true"></i>Home</md-button>

        </div>
      </md-toolbar>

      <!-- Every time one of the following sections is used, -->
      <!-- we need to make sure the other sections are closed (false) -->

      <!-- ::::::::: LOGIN FORM ::::::::: -->
      <div class="home login" ng-show="hc.loginForm">
        <section>
          <form name="login-form">
            <h3>Log In</h3>

            <md-input-container>
              <label for="login-username">Username</label>
              <input type="text" ng-model="hc.loginInfo.username" name="login-username" required/>
            </md-input-container>

            <md-input-container>
              <label for="login-password">Password</label>
              <input type="password" ng-model="hc.loginInfo.password" name="login-password" required/>
            </md-input-container>

              <md-button class="md-raised" ng-hide="hc.user" ng-click="hc.loginUser()"><i class="fa fa-sign-in" aria-hidden="true"></i> Log In</md-button>

              <h2>New account?</h2>
              <md-button class="md-raised" ng-click="hc.registerShow()"><i class="fa fa-user" aria-hidden="true"></i>Register</md-button>
          </form>
        </section>
      </div> <!-- ::::::::: END LOGIN ::::::::: -->



      <!-- ::::::::: REGISTRATION FORM::::::::: -->
      <div class="home register" ng-show="hc.registerForm">
        <section layout="column">
          <form name="hc.registerFormInputs">
            <h3>Registration</h3>

            <md-input-container>
              <label for="username">Username<span class="md-caption"> (Required)</span></label>
              <input type="text" ng-model="hc.registerInfo.username" name="username" required/>
              <div ng-messages="hc.registerFormInputs.username.$error">
                <div ng-message="required">This is required!</div>
              </div>
            </md-input-container>

            <md-input-container>
              <label for="password">Password<span class="md-caption"> (Required)</span></label>
              <input type="password" ng-model="hc.registerInfo.password" name="password" required/>
              <div ng-messages="hc.registerFormInputs.password.$error">
                <div ng-message="required">This is required!</div>
              </div>
            </md-input-container>

            <md-input-container md-is-error="hc.passwordMismatch()">
              <label for="confirm_password">Confirm Password<span class="md-caption"> (Required)</span></label>
              <input type="password" ng-model="hc.registerInfo.confirm_password" name="confirm_password" required/>
              <!-- Should add message here to inform user their passwords don't match -->

              <div class="errorMessage md-caption" ng-show="hc.passwordMismatchError()">The passwords you entered do not match.</div>
            </md-input-container>

            <md-input-container>
              <label for="contact_name">Contact Name<span class="md-caption"> (Required)</span></label>
              <input type="text" ng-model="hc.registerInfo.contact_name" name="contact_name" id="contact_name" required/>
              <div ng-messages="hc.registerFormInputs.contact_name.$error">
                <div ng-message="required">This is required!</div>
              </div>
            </md-input-container>

            <md-input-container>
              <label for="email_address">Email Address<span class="md-caption"> (Required)</span></label>
              <input type="email" ng-model="hc.registerInfo.email_address" name="email_address" id="email_address" required/>
              <div ng-messages="hc.registerFormInputs.email_address.$error">
                <div ng-message="required">This is required!</div>
                <div ng-message="email">Please enter a valid email address.</div>
              </div>
            </md-input-container>

            <md-input-container>
              <md-button ng-disabled="hc.registerFormInputs.$invalid" ng-click="hc.registerUser()" class="md-raised"><i class="fa fa-user" aria-hidden="true"></i>Register</md-button>
            </md-input-container>
            <p class="md-caption" ng-show="hc.registerFormInputs.$invalid">
              *Please fill out the required fields.
            </p>
            <md-input-container>
              <h3>Already have an account?</h3>
              <md-button class="md-raised" ng-hide="hc.user" ng-click="hc.loginShow()"><i class="fa fa-sign-in" aria-hidden="true"></i> Log In</md-button>
            </md-input-container>
          </form>
        </section>
      </div> <!-- ::::::::: END REGISTRATION ::::::::: -->

    </div> <!-- ::::::::: END HOME PAGE ::::::::: -->
    <footer class="iconCredit">
      This site uses images from FlatIcon and FontAwesome
    </footer>
