<!-- this page is the HomeController as hc-->

<!-- ::::::::: START HOME PAGE ::::::::: -->
<div class="home backdrop">

  <!-- ::::::::: full home header + nav ::::::::: -->
  <div class="home header-expanded">
    <h1>Nile of the North</h1>

    <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker Shiver me timbers to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.</p>

    <div class="home nav">
      <md-button class="md-raised"><a href="/map">Enter Map</a></md-button>
      <md-button ng-click="hc.loginShow()" class="md-raised">Log In</md-button>
      <md-input-container>
        <md-button value="LogOut" class="md-raised"><a href="/logout" target="_self">Log Out</a></md-button>
      </md-input-container>
    </div>
  </div>

  <!-- ::::::::: condensed header + nav ::::::::: -->

  <div class="home header-condensed" ng-hide="true">
    <h2>Nile of the North</h2>
    <md-button href="/map" class="md-raised">Enter Map</md-button>
    <md-button ng-click="hc.loginShow()" class="md-raised">Log In</md-button>
    <md-input-container>
      <md-button value="LogOut" class="md-raised"><a href="/logout" target="_self">Log Out</a></md-button>
    </md-input-container>

  </div>

  <!-- Every time one of the following sections is used, -->
  <!-- we need to make sure the other sections are closed (false) -->


  <!-- ::::::::: LOGIN FORM ::::::::: -->
  <div class="home form" ng-show="hc.loginForm">
    <section layout="column">
      <h3>Log In</h3>
      <form name="login-form">
        <md-input-container>
          <label for="login-username">Username</label>
          <input type="text" ng-model="hc.loginInfo.username" name="login-username" required/>
        </md-input-container>

        <md-input-container>
          <label for="login-password">Password</label>
          <input type="password" ng-model="hc.loginInfo.password" name="login-password" required/>
        </md-input-container>

        <div class="">
          //password errors will go here
        </div>

        <md-input-container>
          <md-button ng-click="hc.loginUser()" value="LogIn" class="md-raised">Log In</md-button>
        </md-input-container>

      </form>
    </section>

        <md-input-container>
          <p>Need to create a new account?</p>
          <md-button class="md-raised" ng-click="hc.registerShow()">Register</md-button>
        </md-input-container>

  </div> <!-- ::::::::: END LOGIN ::::::::: -->



  <!-- ::::::::: REGISTRATION FORM::::::::: -->
  <form class="home form" name="hc.registerFormInputs" ng-show="hc.registerForm">
    <section layout="column">
      <!-- action="/register" method="POST"> -->
      <h3>Registration</h3>
      <md-input-container>
        <label for="username">Username</label>
        <input type="text" ng-model="hc.registerInfo.username" name="username" required/>
      </md-input-container>

      <md-input-container>
        <label for="password">Password</label>
        <input type="password" ng-model="hc.registerInfo.password" name="password" required/>
      </md-input-container>

      <md-input-container md-is-error="hc.passwordMismatch()">
        <label for="confirm_password">Confirm Password</label>
        <input type="password" ng-model="hc.registerInfo.confirm_password" name="confirm_password" required/>
        <!-- Should add message here to inform user their passwords don't match -->

        <div class="errorMessage md-caption" ng-show="hc.passwordMismatchError()">The passwords you entered do not match.</div>
      </md-input-container>

      <md-input-container>
        <label for="contact_name">Contact Name</label>
        <input type="text" ng-model="hc.registerInfo.contact_name" name="contact_name" id="contact_name" required/>
      </md-input-container>

      <md-input-container>
        <label for="email_address">Email address</label>
        <input type="email" ng-model="hc.registerInfo.email_address" name="email_address" id="email_address" required/>
      </md-input-container>
      <!-- e-mail validation messages go here -->
      email = {{hc.registerInfo.email_address}}
      error = {{hc.registerInfo.email_address.$valid}}
      <md-input-container>
        <md-button ng-click="hc.registerUser()" class="md-raised">Register</md-button>
      </md-input-container>

    </section>
  </form> <!-- ::::::::: END REGISTRATION ::::::::: -->



</div> <!-- ::::::::: END HOME PAGE ::::::::: -->
