<leaflet id="map" center="mc.center"  defaults="mc.defaults" tiles="mc.tiles" height="100vh" width="100vw" markers="mc.markers" ng-style="mc.mapStyle">
</leaflet>

<div class="key">
  <a href="/"><button>Home</button></a>
  <button ng-click="mc.filterMarkers('one')">1</button>
  <button ng-click="mc.filterMarkers('two')">2</button>
  <!-- currently filtering to all for testing -->
  <button ng-click="mc.filterMarkers('all')">3</button>
  <!-- currently filtering to none for testing -->
  <button ng-click="mc.filterMarkers('none')">4</button>
  <button>Add</button>
</div>

<div class="infoDrawer" ng-show="mc.showInfoDrawer">
  <h2>{{mc.markerTitle}}</h2>
  <p>
    Food resource information.
  </p>
</div>
