<!-- Edit Modals -->
<md-dialog>
  <md-dialog-content class="md-dialog-content">
    <section layout="column">
      <h2>Add Resource</h2>
      <form name="newResourceForm">
        <md-input-container>
          <label for="new_name">Name</label>
          <input type="text" name="new_name" ng-model="nrc.newResource.name" required/>
          <div ng-messages="newResourceForm.new_name.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>

        <!-- <md-input-container>
          <label for="new_location">Location</label>
          <input type="text" name="new_location" ng-model="nrc.newResource.location" required/>
          <div ng-messages="newResourceForm.new_location.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container> -->

        <md-input-container>
          <label>Address</label>
          <input type="text" name="new_address1" ng-model="nrc.newResource.address_line1">
        </md-input-container>

        <md-input-container>
          <label>Address Line 2</label>
          <input type="text" name="new_address2" ng-model="nrc.newResource.address_line2">
        </md-input-container>

        <md-input-container>
          <label>Address Line 3</label>
          <input type="text" name="new_address3" ng-model="nrc.newResource.address_line3">
        </md-input-container>

        <md-input-container>
          <label>City</label>
          <input type="text" name="new_city" ng-model="nrc.newResource.city_name">
        </md-input-container>

        <md-input-container>
            <label>State</label>
            <input type="text" name="new_state" ng-model="nrc.newResource.state">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Zip Code</label>
          <input name="new_zip_code" ng-model="nrc.newResource.zip_code"
                   required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
          <div ng-messages="newResourceForm.zip_code.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">Please supply a zip code.</div>
            <div ng-message="pattern" class="my-message">That doesn't look like a valid zip
                code.
            </div>
            <div ng-message="md-maxlength" class="my-message">
                Only a five digit zip code is required.
            </div>
          </div>
        </md-input-container>

        <md-input-container>
          <label for="new_type">Type</label>
          <md-select name="new_type" ng-model="nrc.newResource.resource_type" required>
            <md-option value="Community Garden">Community Garden</md-option>
            <md-option value="Culinary Arts">Culinary Arts</md-option>
            <md-option value="Food Hub">Food Hub</md-option>
            <md-option value="Food Distribution">Food Distribution</md-option>
          </md-select>
          <div ng-messages="newResourceForm.new_type.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label for="new_description">Description</label>
          <input type="text" name="new_description" ng-model="nrc.newResource.description" />
        </md-input-container>

        <md-input-container>
          <label for="new_website">Website</label>
          <input type="text" name="new_website" ng-model="nrc.newResource.website" />
        </md-input-container>

        <!-- we'll ask for their social media links, then in display will create an icon button linking to them externally by using their information -->

        <md-input-container>
          <label for="twitter">Twitter</label>
          <input placeholder="Add link ex. https://twitter.com/projectsweetiep" type="text" name="twitter" ng-model="nrc.newResource.twitter"  />
        </md-input-container>

        <md-input-container>
          <label for="facebook">Facebook</label>
          <input placeholder="Add link ex. https://www.facebook.com/projectsweetiepie/" type="text" name="facebook" ng-model="nrc.newResource.facebook"  />
        </md-input-container>

        <md-input-container>
          <label for="instagram">Instagram</label>
          <input placeholder="Add link ex. https://www.instagram.com/nazmpls/" type="text" name="instagram" ng-model="nrc.newResource.instagram"  />
        </md-input-container>

        <md-input-container>
          <label for="snapchat">Snapchat</label>
          <input placeholder="Add link ex. https://www.snapchat.com/add/JXTA_ARTS" type="text" name="snapchat" ng-model="nrc.newResource.snapchat"  />
        </md-input-container>

        <md-input-container>
          <label for="new_leadership">Leadership</label>
          <input type="text" name="new_leadership" ng-model="nrc.newResource.leadership" />
        </md-input-container>

        <md-input-container>
          <label for="new_phone">Public Phone</label>
          <input type="phone" name="new_phone" ng-model="nrc.newResource.public_phone" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/"/>
          <div ng-messages="newResourceForm.new_phone.$error">
            <div ng-message="pattern">Please enter a valid 10-digit phone number.</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label for="new_email">Public Email</label>
          <input type="email" name="new_email" ng-model="nrc.newResource.public_email" />
          <div ng-messages="newResourceForm.new_email.$error">
            <div ng-message="email">Please enter a valid email address.</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label for="new_hours">Hours</label>
          <input type="text" name="new_hours" ng-model="nrc.newResource.hours" />
        </md-input-container>

        <!-- <md-input-container>
          <label for="new_lat">Coordinates - Latitude</label>
          <input type="text" name="new_lat" ng-model="nrc.newResource.latitude" />
        </md-input-container>

        <md-input-container>
          <label for="new_lng">Coordinates - Longitude</label>
          <input type="text" name="new_lng" ng-model="nrc.newResource.longitude" />
        </md-input-container> -->

        <md-input-container>
          <label class="" for="new_audio">Click Here To Choose Audio</label>
          <span ng-show="nrc.newAudio.file">
            <span class="uploadHelperText" ng-show="!nrc.uploadAudioSuccess">Click the orange button to upload your audio.</span>
          </span>
          <span class="uploadHelperText" ng-show="nrc.uploadAudioSuccess">Upload complete!  Click save below to add your resource.</span>
          <md-button ng-show="nrc.newAudio.file" ng-click="nrc.uploadAudio(nrc.newAudio, nrc.newResource)" class="md-button uploadButton" aria-label="uploadAudio"><i class="fa fa-cloud-upload" aria-hidden="true"></i></md-button>
          <input id="newImageUploadAdmin" class="fileUpload" type="file" ngf-select ngf-multiple="false" ng-model="nrc.newAudio.file" name="new_audio" ngf-pattern="'audio/*'" accept="audio/*" ngf-max-size="20MB" aria-label="upload_audio"/>
        </md-input-container>

        <md-input-container>
          <label class="" for="new_images">Click Here To Choose Images (max 5)</label>
          <span ng-show="nrc.newImage.file">
            <span class="uploadHelperText" ng-show="!nrc.uploadImageSuccess">Click the orange button to upload your images.</span>
          </span>
          <span class="uploadHelperText" ng-show="nrc.uploadImageSuccess">Upload complete!  Click save below to add your resource.</span>
          <md-button ng-show="nrc.newImage.file" ng-click="nrc.uploadImage(nrc.newImage, nrc.newResource)" class="md-button uploadButton" aria-label="uploadImage"><i class="fa fa-cloud-upload" aria-hidden="true"></i></md-button>
          <input id="newImageUploadAdmin" class="fileUpload" type="file" ngf-select ngf-multiple="true" ng-model="nrc.newImage.file" name="new_images" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" ngf-max-files="5" aria-label="upload_images"/>
        </md-input-container>

        <md-input-container>
          <label for="new_video">Video</label>
          <input type="text" name="new_video" ng-model="nrc.newResource.video" />
        </md-input-container>

        <md-checkbox name="new_approval" ng-model="nrc.newResource.is_active" aria-label="new_approval">Approved</md-checkbox>

        <md-button ng-disabled="newResourceForm.$invalid" ng-click="nrc.saveNewResource(nrc.newResource)">Save</md-button>
        <md-button ng-click="nrc.cancelNewResource()">Cancel</md-button>

      </form>
    </section>


  </md-dialog-content>
</md-dialog>
