<!DOCTYPE html>

<!-- ::::::::: USER DASHBOARD ::::::::: -->

<div class="home dashboard backdrop">

  <!-- ::::::::: Nav Bar ::::::::: -->
  <md-toolbar class="home header-condensed">
    <div class="md-toolbar-tools">

      <div class="userClass">
        <h1 class="md-toolbar-tools md-flex">Hello, {{uc.user.username}}!</h1>
      </div>

      <span flex></span>

      <md-button href="/map" aria-label="map"><i class="fa fa-map-o"></i>Map</md-button>
      <md-button href="/" aria-label="home"><i class="fa fa-home"></i>Home</md-button>
      <md-button href="/logout" target="_self" aria-label="logout"><i class="fa fa-user"></i>Log out</md-button>

    </div>

  </md-toolbar>


  <!-- user resources -->

  <h2 class="pageTitle"> Food Resource Locations </h2>
  <div class="userPage">
  <md-card>
    <div class="table-button-wrapper plus">
    <md-button ng-click="uc.addNewResource()"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> new resource</md-button>
    </div>
    <md-table-container>
      <table md-table>
        <thead md-head>
          <tr md-row class="md-row">
            <th md-column>
              Resource Name
            </th>
            <th md-column>
              Resource Location
            </th>
            <th md-column>
              Resource Status
            </th>
            <th md-column>
              Date Created
            </th>
            <th md-column>
              Resource Type
            </th>
          </thead>


          <tbody md-body>
            <tr md-row ng-repeat="resource in uc.userResources" md-select="resource" md-selectid="name" md-auto-select>
                  <div class="userInput">
              <td md-cell>{{resource.name}}</td>
              <td md-cell> {{resource.address_line1}}</td>
              <td md-cell>{{resource.is_active ? 'Active' : 'Pending'}}</td>
              <!-- <td md-cell><p ng-show="resource.is_active">Active</p><p ng-show="resource.is_pending">Pending</p></td> -->
              <td md-cell>{{resource.date_created | date : format}}</td>
              <td md-cell>{{resource.resource_type}}</td>
              <td md-cell><md-button ng-click="uc.editUserResource(resource)">Details</md-button></td>
            </tr>
          </tbody>
      </table>
    </md-table-container>
  </md-card>
  </div>


<!-- ::::::::: END USER DASHBOARD ::::::::: -->
